<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="pl">

<head>

    <style>

        body{
            text-align: center;
        }
        #search, #fav{
            border: dotted;
            margin-bottom: 30px;
        }
        input{
            margin-bottom: 10px;
        }

    </style>

</head>

<body>

        <p style="font-size: 40px;">Witaj, <span th:text="${name}"/>!</p>

        <div id="search">
            <p>Wyszukiwarka</p>
            <form th:action="@{/search}"method="get">
                <input placeholder="Nazwa" name="content"> <br /><br />
                <select name="type"><option value="TRACK">Utwór</option><option value="ARTIST">Autora</option></select> <br /><br />
                <input type="submit" value="Wyszukaj">
            </form>
        </div>

        <div id="fav">
            <p>Ulubione</p>
            <form th:action="@{/farvorites}">
                <input type="submit" value="Zobacz">
            </form>
        </div>


</body>


</html>